@media screen and (max-width: 620px){
    .head{
        width: 50% !important;
    }
}
.he{
    height: 10vh;
}
.head{
    height: 10vh;
    width: 18vw;
}
.user{
    background-color: rgb(90, 207, 168);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    right: 5%;
    cursor: pointer;
}

.inneruser{
    background-color: rgb(90, 207, 168);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: auto;
}

#containerPr{
    display: none;
}
.containerpr {
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    right: 5%;
    background: #dddddd;
    padding: 15px;
    /* border: 1px solid #dddddd; */
    margin-top: 260px;
    height: 200px;
    width: 270px;
  }
  
  .containerpr:before,
  .containerpr:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 230px;
    border: 11px solid transparent;
    border-bottom-color: #dddddd;
  }
  .containerpr:after {
    left: 20px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
  }


  @media screen and (max-width: 768px){
   .containerpr{
       margin-top: 320px;
       height: 250px;
   }
   .br{
       width: 100%;
   }
}
